.contact-inputs{
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    outline: none;
    
}
.contact-inputs:focus{
    border: 1px solid rgba(0, 0, 0, 0.28);
    transition: border 0.1s;
}

